
/* no borrar nada de acá, es la paleta de colores principal del sitio en index y se esta usando */
:root {
  --primary: #0d6efd;
  --primary-dark: #0b5ed7;
  --navbar-bg: #0b1a2e;
  --navbar-hover: #4dabf7;
  --hero-overlay: rgba(11, 26, 46, 0.78);
  --stats-bg: #0b1a2e;
  --footer-bg: #07121f;
}


/*  paleta de colores del index

  --primary: #0d6efd;
  --primary-dark: #0b5ed7;
  --navbar-bg: #0b1a2e;
  --navbar-hover: #4dabf7;
  --hero-overlay: rgba(11, 26, 46, 0.78);
  --stats-bg: #0b1a2e;
  --footer-bg: #07121f;
*/


/*  paleta de colores del profesores
  --background-color: silver;
  --primary-dark: #0b5ed7;
  --navbar-bg: #0b1a2e;
  --navbar-hover: #4dabf7;
  --footer-bg: #07121f;
*/


/*  paleta de colores de cursos
    describir los colores usados en la sección de cursos
  
*/


/*  paleta de colores de contacto
  --primary: #0d6efd;
  --primary-dark: #0b5ed7;
  --navbar-bg: #0b1a2e;
  --navbar-hover: #4dabf7;
  --hero-overlay: rgba(11, 26, 46, 0.78);
  --stats-bg: #0b1a2e;
  --footer-bg: #07121f;
  
*/



